$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
$fourK: 2560px;

// Common tags
// .wrapper
// .background-parallax-pic
// .social-icons
// 
// 
// 
// 

// ###########################################################

// Common tags


* {
    transition: 0.3s ease-in-out;
}

h1, h2, h3, h4, p, div, span, input, textarea {
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #20303c;
}
p {
    font-size: 17px;
}
h1 {
    font-size: 68px;
}
h2 {
    font-size: 34px;
}
h3 {
    font-size: 19px;
    
}
div {
    font-size: 14px;
}

body {
    padding-top: 72px;
    // overflow: hidden;
    position: relative;
    
}
section:not(:first-of-type), footer {
    background: #2f2e2e;
}
section {
    transition: 0.85s ease-in-out;
}

// ##################################################################

.wrapper {
    padding: 0 20px;
    @include breakpoint($mobileL) {

    }
}

.wrapper-small {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 100;
    padding: 40px 20px;
}

// ##################################################################
.background-parallax-pic {
    position: absolute;
}

// ##################################################################
.social-icons {
    display: flex;
    & > div {
        width: 32px;
        height: 32px;
        margin-right: 10px;
    }
    & > div:last-child {
        margin-right: 0;
    }
    .insta {
        background: center / contain no-repeat url('https://static.wixstatic.com/media/da7ef6dd1302486c9a67baebe4b364bc.png/v1/fill/w_28,h_28,al_c,q_80,usm_0.66_1.00_0.01/da7ef6dd1302486c9a67baebe4b364bc.webp');
    }
    .pinterest {
        background: center / contain no-repeat url('https://static.wixstatic.com/media/767689ba34f143a1a36e49b5f2fbe31a.png/v1/fill/w_28,h_28,al_c,q_80,usm_0.66_1.00_0.01/767689ba34f143a1a36e49b5f2fbe31a.webp');
    }
    .fb {
        background: center / contain no-repeat url('https://static.wixstatic.com/media/e0678ef25486466ba65ef6ad47b559e1.png/v1/fill/w_28,h_28,al_c,q_80,usm_0.66_1.00_0.01/e0678ef25486466ba65ef6ad47b559e1.webp');
    }
}

// ##################################################################

.hor-line {
    border-top: 3px solid white;
    width: 35px;
    margin-bottom: 30px;
}

// ##################################################################

section.empty {
    height: 230px;
    background: top/cover no-repeat url('https://static.wixstatic.com/media/9b6c7d_54033d6d82c24d8e9be8212d3a8febe6.jpg/v1/fill/w_640,h_862,al_c,q_85,usm_0.66_1.00_0.01/9b6c7d_54033d6d82c24d8e9be8212d3a8febe6.webp');
}

// ##################################################################

footer {
    background: #2f2e2e;
    padding: 40px 20px;
    
    p {
        color: white;
        font-size: 15px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 5px;
    }
    .social-icons {
        display: none;
    }
}

// ##################################################################

.back-to-top {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #b03737;
    position: fixed;
    bottom: 15%;
    right: 20px;
    &::after {
        width: 20px;
        height: 20px;
        border-left: 1px solid white;
        border-top: 1px solid white;
        position: absolute;
        top: 0;
        left: 0;
    }
}