$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
$fourK: 2560px;

// Common tags
// .wrapper
// .background-parallax-pic
// .social-icons
// 
// 
// 
// 

// ###########################################################

// Common tags


* {
    transition: 0.3s ease-in-out;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, p, div, span, input, textarea {
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #20303c;
}
p {
    font-size: 17px;
}
h1 {
    font-size: 68px;
}
h2 {
    font-size: 34px;
}
h3 {
    font-size: 19px;
    
}
div {
    font-size: 14px;
}

body {
    padding-top: 72px;
    // overflow: hidden;
    position: relative;
    background: #333333;
}
section:not(:first-of-type), footer {
    background: #2f2e2e;
}
section {
    transition: 0.85s ease-in-out;
}


.mobile-mode {
    &::-webkit-scrollbar {
        width: 0px;
    }
}


// ##################################################################

.wrapper {
    padding: 0 20px;
    @include breakpoint($mobileL) {

    }
}

.wrapper-small {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 100;
    padding: 40px 20px;
}

// ##################################################################
.background-parallax-pic {
    position: absolute;
}

// ##################################################################
.social-icons {
    display: flex;
    & > div {
        width: 32px;
        height: 32px;
        margin-right: 10px;
    }
    & > div:last-child {
        margin-right: 0;
    }
    .insta {
        background: center / contain no-repeat url('https://static.wixstatic.com/media/da7ef6dd1302486c9a67baebe4b364bc.png/v1/fill/w_28,h_28,al_c,q_80,usm_0.66_1.00_0.01/da7ef6dd1302486c9a67baebe4b364bc.webp');
    }
    .pinterest {
        background: center / contain no-repeat url('https://static.wixstatic.com/media/767689ba34f143a1a36e49b5f2fbe31a.png/v1/fill/w_28,h_28,al_c,q_80,usm_0.66_1.00_0.01/767689ba34f143a1a36e49b5f2fbe31a.webp');
    }
    .fb {
        background: center / contain no-repeat url('https://static.wixstatic.com/media/e0678ef25486466ba65ef6ad47b559e1.png/v1/fill/w_28,h_28,al_c,q_80,usm_0.66_1.00_0.01/e0678ef25486466ba65ef6ad47b559e1.webp');
    }
}

// ##################################################################

.hor-line {
    border-top: 3px solid white;
    width: 35px;
    margin-bottom: 30px;
}

// ##################################################################

section.empty {
    height: 230px;
    background: top/cover no-repeat url('https://static.wixstatic.com/media/9b6c7d_54033d6d82c24d8e9be8212d3a8febe6.jpg/v1/fill/w_640,h_862,al_c,q_85,usm_0.66_1.00_0.01/9b6c7d_54033d6d82c24d8e9be8212d3a8febe6.webp');
}

// ##################################################################

footer {
    background: #2f2e2e;
    padding: 40px 20px;
    
    p {
        color: white;
        font-size: 15px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 5px;
    }
    .social-icons {
        display: none;
    }
}

// ##################################################################

.back-to-top {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #b03737;
    position: fixed;
    bottom: 75px;
    right: 18px;
    z-index: 5;
    &::after {
        content: '';
        width: 17px;
        height: 17px;
        border-left: 2px solid white;
        border-top: 2px solid white;
        transform:  translateX(-50%) translateY(-25%) rotate(45deg);
        transform-origin: center;
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

.chat-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e6e7e7;
    position: fixed;
    bottom: 15px;
    right: 18px;
    z-index: 5;
    display: flex;
    align-items: center;
}

.chat-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(209, 202, 201);
    z-index: 11;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
}
.chat-hero {
    background: #d1cac9;
    width: 100%;
    padding-right: 30px;
    height: 90px;
    text-align: center;
    font-weight: 300;
    padding: 0 40px;
    h3 {
        font-size: 23px;
        margin-bottom: 15px;
    }
    p {
        font-size: 14px;
    }
}
.chat-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
}
.chat {
    height: 50%;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.816);
}
.chat-field {
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-end;
    height:100%;
    padding-bottom: 57px;
    overflow: scroll;
}
.chat-me, .chat-you {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 12px;
    max-width: 75%;
    height: fit-content;
}
.chat-me {
    align-self: flex-end;
    background: rgb(235, 233, 233);
}

.chat-you {
    align-self: flex-start;
    background: rgb(230, 228, 228);
}
.chat-input {
    position:absolute;
    bottom:0;
    height: 57px;
    width: 100%;
    padding: 15px 20px;
    border: none;
    font-size: 15px;
    &::placeholder {
        opacity: 0.6;
    }
}
.clip {
    position: absolute;
    transform: rotate(45deg);
    right: 20px;
    bottom: 20px;
}
.enter {
    position: absolute;
    right: 20px;
    bottom: 20px;
    transform: rotate(90deg);
}
.chat-open {
    position: fixed;
    .chat-wrap {
        opacity: 1;
        pointer-events: all;
    }
}
.chat-active {
    .chat-hero {
        height: 60px;
        padding: 20px 20px;
        p {
            display: none;
        }
        h3 {
            text-align: left;
            transition: 0;
        }
    }
    .chat {
        height: calc(100% - 60px);
    }
}