.hidden {
    opacity: 0 !important;
    transform: translateY(20px) !important;
    transition: 1s ease-in-out !important;
}

.transparent {
    opacity: 0 !important;
    pointer-events: none !important;
}