nav {
    height: 90px;
    background-color: #2f2e2e;
    position: relative;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint($tablet) {
        height: 64px;
        padding: 0;
        display: block;
        position: fixed;
        width: 100%;
        z-index: 2;
    }
    .menu-wrap {
        position: absolute;
        top: 0;
        height: 100vh;
        left: 0;
        right: 0;
        overflow: hidden;
        z-index: 5;
        pointer-events: none;
        @include breakpoint($tablet) {
            position: static;
            height: 100%;
        }
    }
    .wrapper {
        pointer-events: all;
        height: 100vh;
        transform-origin: right;
        // background-size: 100vw;
        position: absolute;
        background: #2f2e2e;
        left: 0;
        right: 0;
        top: 0px;
        padding: 0;
        overflow: hidden;
        // z-index: 2;
        @include breakpoint($tablet) {
            justify-content: center;
            position: static;
            padding: 0 20px;
            height: 100%;
            width: initial;
        }
    }
    ul {
        display: flex;
        height: 100%;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        position: absolute;
        // background: #2f2e2e;
        // background-size: 100%;
        align-items: center;
        padding: 20px 0;
        top: 0;
        // left: 50%;
        // transform: translateX(-50%);
        position: absolute;        
        @include breakpoint($tablet) {
            justify-content: space-between;
            max-width: 800px;
            width: 100%;
            flex-direction: row;
            height: initial;
            background: none;
            align-items: initial;
            padding: 0;
            height: 100%;
            position: static;
            margin: 0 auto;
        }
    }
    li:nth-last-child(2) {
        order: -1;
        padding-top: 0;
        @include breakpoint($tablet) {
            order: 2;
        }
    }
    li:first-child {
        a {
            color: #C58383;
            @include breakpoint($tablet) {
                color: white;
            }
        }
    }
    li {
        padding: 20px;
        @include breakpoint($tablet) {
            height: 100%;
            padding: 0;
        }
    }
    li:hover {
        opacity: 0.5;
    }
    li:last-child{
        @include breakpoint($tablet) {
            display: none;
        }
    }

    a {
        display: flex;
        align-items: center;
        height: 100%;
        color: white;
        text-decoration: none;
        font-weight: 300;
        font-size: 17px;
        @include breakpoint($tablet) {
            font-size: 15px;
        }
    }
    .login-logo {
        background: center/contain no-repeat url('../images/login.svg');
        height: 26px;
        width: 26px;
        margin-right: 14px;
    }

    .burger {
        cursor: pointer;
        height: 50px;
        width: 50px;
        z-index: 5;
        padding: 16px 0;
        box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include breakpoint($tablet) {
            display: none;
        }
        span {
            // position: relative;
            display: block;
            // right: 0;
            width: 22px;
            height: 2px;
            background-color: white;
            border-radius: 5px;

        }
        span:nth-of-type(1) {
            top: 0;
            transform-origin: right;
        }
        span:nth-of-type(2) {
            top: 9px;
            transform-origin: right;
        }
        span:nth-of-type(3) {
            top: 16px;
            transform-origin: right;
        }
        
    }
    .burger-active {
        span:nth-of-type(1) {
            transform-origin: right;
            transform:rotate(-45deg) translate(-3px, -2px);
        }
        span:nth-of-type(2) {
            transform-origin: right;
            transform: scaleX(0);
        }
        span:nth-of-type(3) {
            transform-origin: right;
            transform: rotate(45deg) translate(-2px, 3px);
        }
    }
    @keyframes menuFadeOut {
        0% {
          opacity: 1;
        }
        30% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    .menu-hidden {
        transform-origin: right;
        transform: translateX(100%);
        // transform: scaleX(0);
        animation-name: menuFadeOut;
        animation-duration: 2.3s;
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;
        // transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
        // transition-delay: 0.25s;
        // transition: 0.3s ease-in-out;
        @include breakpoint($tablet) {
            transform-origin: right;
            transform: none;
            animation: none;

        }
        
        ul {
            transform: translateX(-100%);
            // transform: scaleX(1);
            // background-size: 0%;
            @include breakpoint($tablet) {
                transform: none;
            }
        }
        
        
    }
    .currently-visiting {
        color: #C58383;
    }
    .social-icons {
        & > div {
            width: 28px;
            height: 28px;
        }
        @include breakpoint($tablet) {
            display: none;
        }
    }
}